
/* ==== ==== ALL Common CSS Start ==== ==== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

a, a:hover {
    text-decoration: none;
    display: inline-block;
}

ol, ul {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    line-height: 0.8;
}

body {
    overflow-x: hidden;
}

.item_top h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
}

.item_top p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
    line-height: 28px;
    padding-top: 21px;
    padding-bottom: 35px;
}

.item_button a {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    background: #998675;
    padding: 20px 37px 17px 36px;
    border-bottom: 3px solid #736357;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.item_button a:hover {
    color: #736357;
    background: #dabfa7;
}

.mr {
    margin-right: 0!important;
}

.mb {
    margin-bottom: 0!important;
}

button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

/* ==== ==== ALL Common CSS End ==== ==== */

/* ==== ==== Header Start Here ==== ==== */

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    margin-left: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.navbar-nav .nav-link:hover {
    color: #c7b299;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}

.ext_bg {
    background: rgba(34, 30, 28, 0.95);
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -ms-transition: all linear .5s;
    -o-transition: all linear .5s;
    animation: top_menu 1s;
    -webkit-animation: top_menu 1s;
}

@keyframes top_menu {
    from {
        top: -100px;
    }
    to {
        top: 0;
    }
}

/* ==== ==== Header End Here ==== ==== */

/* ==== ==== Banner Start Here ==== ==== */

#banner {
    background-image: url(../images/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.ban_olay {
    padding: 380px 0;
    background: rgba(17, 17, 17, 0.7);
}

.ban_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
}

.ban_text h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 52px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 22px;
}

.ban_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    padding: 0px 260px;
    margin-bottom: 48px;
}

.ban_slider {
    position: relative;
    direction: rtl;
}

.arrow_left {
    color: #998675;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 999;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.arrow_left:hover {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.arrow_right {
    color: #998675;
    font-size: 25px;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.arrow_right:hover {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

/* ==== ==== Banner End Here ==== ==== */

/* ==== ==== Service Start Here ==== ==== */

#service {
    padding: 50px 0;
    background: #fff;
    overflow-x: hidden;
}

.serv_slider {
    direction: rtl;
}

.serv_item {
    padding: 30px 0;
}

.serv_photo i {
    font-size: 55px;
    color: #555555;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #555555;
    padding-top: 22px;
    padding-bottom: 18px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    line-height: 24px;
    position: relative;
}

.serv_text p::after {
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    content: '';
    height: 3px;
    width: 70px;
    background: #f1eee9;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_text p::before {
    position: absolute;
    bottom: -29px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    content: '';
    height: 3px;
    width: 0;
    background: #fb910f;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.serv_item:hover {
    cursor: pointer;
}

.serv_item:hover i {
    color: #fb910f;
}

.serv_item:hover h3 {
    color: #fb910f;
}

.serv_item:hover p::after {
    opacity: 0;
    visibility: hidden;
    width: 0;
}

.serv_item:hover p::before {
    opacity: 1;
    visibility: visible;
    width: 70px;
}

/* ==== ==== Service End Here ==== ==== */

/* ==== ==== Idea Start Here ==== ==== */

#idea {
    padding-top: 84px;
    background: #fbfaf8;
}

/* ==== ==== Idea End Here ==== ==== */

/* ==== ==== Purchase Start Here ==== ==== */

#purchase {
    padding: 48px 0;
    background: linear-gradient(to right, #211b19, #4e3427);
    overflow-x: hidden;
}

.purchase_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
    padding-bottom: 13px;
}

.sp_txt_purchase {
    color: #c7b299;
}

.purchase_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #615855;
}

/* ==== ==== Purchase End Here ==== ==== */

/* ==== ==== Project Start Here ==== ==== */

#project {
    padding: 80px 0;
    overflow-x: hidden;
}

.project_menu {
    margin-bottom: 40px;
}

.project_menu button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    background: transparent;
    padding: 10px 27px 11px 26px;
    border: 1px solid #ebebeb;
    margin-right: 7px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_menu button:hover {
    color: #ffffff;
    background: #998675;
    border: 1px solid #998675;
    cursor: pointer;
}

.project_photo {
    position: relative;
}

.project_text {
    background: #fbfaf8;
    padding: 28px;
    position: relative;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #c7b299;
    padding-bottom: 16px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #d1d1d1;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_shape {
    position: absolute;
    top: -20px;
    left: 19px;
    background: transparent;
    height: 0;
    width: 0;
    border-top: 10px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    border-left: 15px solid transparent;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_photo_olay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(17, 17, 17, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.project_link i {
    color: #fff;
    font-size: 26px;
    margin-right: 24px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.project_link .link_rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.project_link .ext_font {
    font-size: 25px;
}

.project_link i:hover {
    color: #c7b299;
}

.project_item:hover .project_photo_olay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.project_item:hover .project_text {
    background: #362f2d;
}

.project_item:hover .project_text h3{
    color: #fff;
}

.project_item:hover .project_text p{
    color: #c7b299;
}

.project_item:hover .project_shape {
    border-bottom: 10px solid #362f2d;
}

#project .sp_mg_btm_1 {
    margin-bottom: 30px;
}

#project .sp_mg_btm_2 {
    margin-bottom: 40px;
}

/* ==== ==== Project End Here ==== ==== */

/* ==== ==== Video Start Here ==== ==== */

#video {
    background-image: url(../images/video_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.video_olay {
    padding-top: 210px;
    padding-bottom: 255px;
    background: rgba(17, 17, 17, 0.5);
}

.video_logo {
    height: 100px;
    width: 100px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}

.video_logo i {
    font-size: 35px;
    color: #fff;
    padding-left: 7px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.video_logo .circle {
    height: 75px;
    width: 75px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    line-height: 67px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.video_logo i:hover {
    font-size: 40px;
    height: 85px;
    width: 85px;
    border: 3px solid #f90100;
    background: rgba(249, 0, 0, 0.3);
    line-height: 78px;
}

.video_text h3 {
    font-weight: 500;
    color: #fff;
    padding-top: 45px;
    padding-bottom: 18px;
}

.video_text p {
    color: #fff;
    padding: 0 10px;
}

/* ==== ==== Video End Here ==== ==== */

/* ==== ==== Mobile Start Here ==== ==== */

#mobile_part {
    padding-top: 80px;
    background: #fbfaf8;
    overflow-x: hidden;
}

.mobile_text {
    padding-top: 115px;
}

.mobile_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
    padding-bottom: 30px;
}

.mobile_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #8c8c8c;
    line-height: 28px;
    padding-bottom: 28px;
}

.mobile_btm {
    padding-left: 55px;
}

.mobile_btm i {
    font-size: 18px;
    margin-right: 20px;
    color: #c7b299;
}

.mobile_btm p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #8c8c8c;
    display: inline;
    vertical-align: 1px;
}

/* ==== ==== Mobile End Here ==== ==== */

/* ==== ==== Counter_part Start Here ==== ==== */

#counter_part {
    padding-top: 70px;
    padding-bottom: 60px;
    background: linear-gradient(to right, #211b19, #4e3427);
    overflow-x: hidden;
}

.count_text h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 48px;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
}

.count_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase;
    padding-bottom: 35px;
    position: relative;
}

.count_text p::after {
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    content: '';
    height: 2px;
    width: 30px;
    background: #fff;
}

/* ==== ==== Counter_part End Here ==== ==== */

/* ==== ==== Recent Posts Start Here ==== ==== */

#recent {
    padding: 80px 0;
    overflow-x: hidden;
}

.blog_photo {
    position: relative;
}

.blog_photo_olay {
    background: rgba(17, 17, 17, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog_photo .date {
    position: absolute;
    top: 20px;
    left: 20px;
}

.blog_photo .top {
    width: 50px;
    background: #363636;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog_photo .top h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 9px;
}

.blog_photo .bottom {
    width: 50px;
    background: #252525;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog_photo .bottom h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    padding-top: 7px;
    padding-bottom: 6px;
}

.blog_text {
    padding: 30px;
    border: 1px solid #f8f8f8;
    border-top: none;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blog_text h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #555555;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blog_text p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #8c8c8c;
    line-height: 22px;
    padding-top: 16px;
    padding-bottom: 19px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.blog_text a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #c7b299;
}

.blog_text i {
    font-size: 18px;
    vertical-align: -2px;
    margin-left: 9px;
}

.blog_item:hover .blog_photo_olay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.blog_item:hover .blog_photo .top {
    background: #c7b299;
}

.blog_item:hover .blog_photo .bottom {
    background: #a48d72;
}

.blog_item:hover .blog_text {
    background: #362f2d;
    border: 1px solid #362f2d;
    border-top: none;
}

.blog_item:hover .blog_text h3 {
    color: #c7b299;
}

.blog_item:hover .blog_text p {
    color: #fff;
}

.blog_item:hover .blog_text h3 {
    color: #c7b299;
}

.post_slider .slick-center .blog_photo_olay {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.post_slider .slick-center .blog_photo .top {
    background: #c7b299;
}

.post_slider .slick-center .blog_photo .bottom {
    background: #a48d72;
}

.post_slider .slick-center .blog_text {
    background: #362f2d;
    border: 1px solid #362f2d;
    border-top: none;
}

.post_slider .slick-center .blog_text h3 {
    color: #c7b299;
}

.post_slider .slick-center .blog_text p {
    color: #fff;
}

.post_slider .slick-center .blog_text h3 {
    color: #c7b299;
}

/* ==== ==== Recent Posts End Here ==== ==== */

/* ==== ==== Clients Start Here ==== ==== */

#client{
    background: url(../images/client_bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;

}
.client_olay{
    padding-top: 140px;
    padding-bottom: 140px;
    background: rgba(17, 17, 17, 0.7);
}

.clt_logo_slider {
    direction: rtl;
}

.client_logo {
    height: 210px;
    position: relative;
}

.client_logo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#client .slick-dots {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 10px;
    list-style-type: none;
    position: absolute;
    bottom: -126px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#client .slick-dots li {
    margin: 10px;
}

#client .slick-dots button {
    display: block;
    width: 30px;
    height: 2px;
    padding: 0;
    border: none;
    background-color: #fb910f;
    text-indent: -9999px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#client .slick-dots li.slick-active button {
    background-color: #fff;
}

/* ==== ==== Clients End Here ==== ==== */

/* ==== ==== Footer_top Start Here ==== ==== */

#footer_top {
    padding-top: 80px;
    padding-bottom: 55px;
    background: #191919;
    overflow-x: hidden;
}

.foot_text_one p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
    line-height: 24px;
    padding-top: 23px;
    padding-bottom: 24px;
}

.foot_text_one a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #d1d1d1;
}

.foot_text_one i {
    font-size: 18px;
    vertical-align: -2px;
    margin-left: 9px;
}

.info_top h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    padding-top: 26px;
    padding-bottom: 30px;
}

.post_item {
    border-bottom: 1px solid #252525;
    margin-bottom: 20px;
}

.post_item h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

.post_item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
    line-height: 20px;
    padding-top: 8px;
    padding-bottom: 20px;
    transition: all linear .2s;
    -webkit-transition: all linear .2s;
    -moz-transition: all linear .2s;
    -ms-transition: all linear .2s;
    -o-transition: all linear .2s;
}

#footer_top .bb {
    border: none;
}

.post_item:hover h4 {
    color: #ffffff;
}

.post_item:hover p {
    color: #c7b299;
}

.tweet_item {
    border-bottom: 1px solid #252525;
    margin-bottom: 13px;
}

.tweet_item p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
    line-height: 20px;
}

.tweet_item h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
    padding-top: 10px;
    padding-bottom: 25px;
}

.tweet_item a {
    color: #00bff3;
}

.tweet_item .sp_col {
    color: #959595;
}

#footer_top .sp_pad {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

#footer_top .sp_mg_tp {
    margin-top: 30px;
}

/* ==== ==== Footer_top End Here ==== ==== */

/* ==== ==== Footer Start Here ==== ==== */

#footer {
    padding: 45px 0;
    background: #111111;
    overflow-x: hidden;
}

.footer_lt p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
}

#footer .sp_cl_one {
    color: #959595;
}

#footer .sp_cl_two {
    color: #c7b299;
}

.footer_rt p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #555555;
}

/* ==== ==== Footer End Here ==== ==== */

.ext_ext {
    color: #410b0b70;
    
}



